<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) /styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <% if (includeModernizr) { %>
        <!-- build:js(.tmp) scripts/vendor/modernizr.js -->
        <script src="scripts/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <% } %>
    </head>

    <body>

        <!--[if lt IE 7]>
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <% if (angular) { %>
        <!--[if lt IE 9]>
          <script src="scripts/es5-shim/es5-shim.js"></script>
          <script src="scripts/json3/lib/json3.min.js"></script>
        <![endif]-->
        <div class="container" ng-view=""></div>
        <% } else { %>
        <div class="hero-unit">
            <h1>'Allo, 'Allo!</h1>
            <p>You now have</p>
            <ul>
            <li>HTML5 Boilerplate</li>
            <li>jQuery</li>
            <li>Karma with Jasmine for Unit Testing</li>
            <li>Selenium with Protractor for E2E Testing</li><% if(backbone){ %>
            <li>Backbone <li> <% } if(includeModernizr) { %>
            <li> Modernizr </li> <% } if(includeRequireJS) { %>
            <li> RequireJS </li> <% } if(compassBootstrap) { %>
            <li> Compass Bootstrap </li><% } if(!angular && !backbone){ %>
            <li>HandlebarsJS</li>
            <% } %>
        </ul>
          <p>installed.</p>
          <h3>Enjoy coding! - Yeoman</h3>
        </div>
        <% } if (!angular && !backbone) { %>
  <h1>Handlebars JS Example</h1>
<div id="handleSample"> </div>
<script id="some-template" type="text/x-handlebars-template">
<table>
    <thead>
        <th>Name</th>
        <th>Job Title</th>
        <th>Twitter</th>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{fullName person}}</td>
            <td>{{jobTitle}}</td>
            <td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td>
        </tr>
        {{/users}}
    </tbody>
</table>
</script>

<% } %>






        <% if(includeRequireJS) { %>
        <!-- build:js(.tmp) scripts/require_config.js -->
        <script data-main="scripts/require_config" src="scripts/requirejs/require.js"></script>
        <!-- endbuild -->
        <% } else { %>

        <!-- build:js(.tmp) scripts/vendor/libs.js -->
        <script src="scripts/jquery/jquery.js"></script>
            <% if(angular) { %>
            <script src="scripts/angular/angular.js"></script>
            <% } else if(backbone) { %>
              <script src="json/vendor/lodash.js"></script>
            <script src="scripts/backbone/backbone.js"></script>

            <% } else { %>
            <script src="scripts/handlebars/handlebars/js"></script>
        <!-- endbuild -->
        <!-- build:js(.tmp) scripts/scripts.js -->
            <% } %>
        <% if (angular) { %>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <% } %>
        <% if (coffee) { %>
        <script src="scripts/hello.js"></script>
        <% } %>
        <!-- endbuild -->
        <% } %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
